.container{
    width: 50%;
    margin: 20px auto;
    border: 1px solid black;
    background-color: white;
    
}
.header{
    margin-top:10px;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.navbar{
    width:100%;height:100px; background-color:#c5aa6a;margin-top:-10px;border-radius:3px;font-size:30px;font-family: Verdana;
}

